{% extends 'base.html' %}

{% block title %}
Добавление статьи
{% endblock %}

{% block body %}
<h1>Добавление статьи</h1>
<div class="main"><form method="post">
    <input class="article-title" type="text" name="title" id="title" placeholder="Введите название"><br>
    <textarea class="article-intro" name="intro" id="intro" placeholder="Введите анонс"></textarea><br>
    <textarea class="article-text" name="text" id="text" placeholder="Введите текст"></textarea><br>
    <input class="article-submit" type="submit" value="Отправить">
</form></div>
{% endblock %}