body {
    background: #002;
    color: #fff;
    font-family: Arial, serif;
    font-size: 20px;
    margin: 30px;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 25px;
}

.main {

}

a {
    color: #fff;
}

a:hover {
    color: #001;
    background: #FA8072;
}

.article-title {
font-size: 20px;
width: 700px;
}


.article-intro {
    font-size: 20px;
    width: 700px;
    height: 80px;
}

.article-text {
    font-size: 20px;
    width: 700px;
    height: 200px;
}

.article-submit {
font-size: 20px;
}
